<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="EchoService.svc" service="WCFBasicHttpSample.EchoService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EchoServiceBehavior" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Default"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WCFBasicHttpSample.EchoService" behaviorConfiguration="EchoServiceBehavior">
        <endpoint address="/" binding="basicHttpBinding" bindingConfiguration="Default" contract="WCFBasicHttpSample.IEcho"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
